/* style.css */
body {
    margin: 0;
    padding: 0;
    border: none;
    background: whiteSmoke none;
    counter-reset: page;
}
.screed {
    background-color: #ffffff;
    color: #000000;
    width: 160mm;
    min-height: 250mm;
    /*max-height: 257mm;*/
    margin: 10mm auto;
    padding: 1in .5in .5in 1.5in;
    box-shadow: 2px 2px 6px rgba(50,50,50,.5);
    counter-reset: section;
    font-size: 12pt;
    font-family: "Courier New", monospace;
    line-height: 5mm;
}
.screed [contenteditable="true"]:focus {
    outline: none;
    /*    background-color: #fbfbfb;*/
}
.screed section {
    margin-bottom: 5mm;
}
.screed section[role=skip] {
    color: #696969;
}
.screed section:before {
    counter-increment: section;
    content: counter(section);
    float: right;
}
.screed section:not([role]) {
    counter-reset: deep;
}
.screed section[role]:before {
    counter-increment: deep;
    content: counter(section) "." counter(deep);
    float: right;
}
.screed ul {
    background-color: #e0e0e0;
    margin: 0 15mm 5mm -5mm;
    padding-left: 5mm;
    page-break-after: avoid;
    page-break-inside: avoid;
    page-break-before: auto;
}
.screed section[role] ul {
    background-color: #f6f6f6;
}
.screed li {
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
}
.screed .where:after {
    content: '.';
}
.screed .lock {
}
.screed .lock:after {
    content: ' - ';
}
.screed .place {
}
.screed .place:after {
    content: ' -- ';
}
.screed .when {
}
.screed p {
    margin: 0;
    font-size: 12pt;
    font-family: "Courier New", monospace;
    line-height: 5mm;
}
.screed .comm {
    margin: 0 0 5mm 0;
}
.screed .char {
    margin: 0 0 5mm 6.75cm;
    text-transform: uppercase;
    page-break-after: avoid;
    page-break-inside: avoid;
    page-break-before: auto;
}
.screed .corr {
    margin: -5mm 4.5cm 5mm 5.55cm;
    page-break-after: avoid;
    page-break-inside: avoid;
    page-break-before: auto;
}
.screed .corr:before {
    content: '(';
}
.screed .corr:after {
    content: ')';
}
.screed .text {
    margin: -5mm 3.75cm 5mm;
    page-break-inside: auto;
    page-break-after: auto;
    page-break-before: avoid;
}
.screed .subt
{
    margin-left: 2.75cm;
    margin-right: 4.75cm;
}
.screed .titr
{
    margin: 0 3.5cm 5mm 4.55cm;
    padding-left: 1cm;
    padding-top: 5mm;
}
.screed .titr:before
{
    content: 'ТИТР:  ';
    float: left;
    margin: -5mm 0 0 -5.55cm;
}

@media print {
    html
    {
        color: #000;
        background: #fff none;
        font-size: 12pt;
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    body
    {
        line-height: 1.07;
        counter-reset: page 1
    }
    .screed {
        width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}
@page {
    size: A4 portrait;
    margin: 1in .5in .5in 1.5in;
    counter-increment: page;

@top-right {
        content: 'Test';
    }
@bottom-right {
        content: counter(page);
    }
    }
